.kanye {
  text-align: center;

  &__img {
    width: 300px;
    height: auto;
  }

  &__title {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &__quote {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
